In [14]:
!pip list | grep -E "dotenv"

dotenv                    0.9.9
python-dotenv             1.1.0

In [ ]:
import os
from dotenv import load_dotenv

load_dotenv()
print(f"Current Working Directory: {os.getcwd()}")

FRED_api_key = os.getenv("FRED_API_KEY")

Current Working Directory: /home/julia/dev/neuefische-dataScience/capstone-SignalSigma/notebooks

In [16]:
import yfinance as yf
import pandas as pd

tickers = ["AAPL", "TSLA", "MSFT", "AMZN", "GOOGL"]
data = {}
path_stock = "../data/stock"
#path = "/Users/payamoghtanem/bootcamp/capstone-SignalSigma/data"
for ticker in tickers:
    df = yf.download(ticker, start="2000-01-01", end="2025-04-22", interval="1d")
    df['Ticker'] = ticker
    data[ticker] = df
    df.to_csv(f"{path_stock}/{ticker}_stock.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [17]:
AAPL_df = pd.read_csv(f"{path_stock}/AAPL_stock.csv")
AAPL_df

,Price,Close,High,Low,Open,Volume,Ticker
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,0.8421506285667419,0.8463823116050437,0.765035668497191,0.7890166789549423,535796800,AAPL
3,2000-01-04,0.7711487412452698,0.8322757961538717,0.7612740795371489,0.8144080183786454,512377600,AAPL
4,2000-01-05,0.7824333906173706,0.8318059143441793,0.7749104697598428,0.7805526478469577,778321600,AAPL
...,...,...,...,...,...,...,...
6360,2025-04-14,202.52000427246094,212.94000244140625,201.16000366210938,211.44000244140625,101352900,AAPL
6361,2025-04-15,202.13999938964844,203.50999450683594,199.8000030517578,201.86000061035156,51343900,AAPL
6362,2025-04-16,194.27000427246094,200.6999969482422,192.3699951171875,198.36000061035156,59732400,AAPL
6363,2025-04-17,196.97999572753906,198.8300018310547,194.4199981689453,197.1999969482422,51334300,AAPL
6364,2025-04-21,193.16000366210938,193.8000030517578,189.80999755859375,193.27000427246094,46742500,AAPL

In [18]:
AMZN_df = pd.read_csv(f"{path_stock}/AMZN_stock.csv")
AMZN_df

,Price,Close,High,Low,Open,Volume,Ticker
0,Ticker,AMZN,AMZN,AMZN,AMZN,AMZN,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,4.46875,4.478125095367432,3.9523439407348633,4.074999809265137,322352000,AMZN
3,2000-01-04,4.096875190734863,4.574999809265137,4.087500095367432,4.268750190734863,349748000,AMZN
4,2000-01-05,3.487499952316284,3.7562499046325684,3.4000000953674316,3.5250000953674316,769148000,AMZN
...,...,...,...,...,...,...,...
6360,2025-04-14,182.1199951171875,187.44000244140625,179.22999572753906,186.83999633789062,48002500,AMZN
6361,2025-04-15,179.58999633789062,182.35000610351562,177.92999267578125,181.41000366210938,43642000,AMZN
6362,2025-04-16,174.3300018310547,179.10000610351562,171.41000366210938,176.2899932861328,51875300,AMZN
6363,2025-04-17,172.61000061035156,176.2100067138672,172.0,176.0,44468400,AMZN
6364,2025-04-21,167.32000732421875,169.60000610351562,165.2899932861328,169.60000610351562,48126100,AMZN

In [19]:
GOOGL_df = pd.read_csv(f"{path_stock}/GOOGL_stock.csv")
GOOGL_df

,Price,Close,High,Low,Open,Volume,Ticker
0,Ticker,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-08-19,2.4990627765655518,2.5917129694882215,2.3899744892751706,2.4905952929130346,893181924,GOOGL
3,2004-08-20,2.6975629329681396,2.7167411852214696,2.5030478464321995,2.51575014030067,456686856,GOOGL
4,2004-08-23,2.7247109413146973,2.826327151366526,2.7159938348115014,2.7583343375802967,365122512,GOOGL
...,...,...,...,...,...,...,...
5198,2025-04-14,159.07000732421875,161.72000122070312,157.55999755859375,160.0,30333000,GOOGL
5199,2025-04-15,156.30999755859375,159.64999389648438,155.2100067138672,159.1300048828125,27551500,GOOGL
5200,2025-04-16,153.3300018310547,155.88999938964844,151.50999450683594,153.10000610351562,28187400,GOOGL
5201,2025-04-17,151.16000366210938,154.67999267578125,148.5,154.2899932861328,32938500,GOOGL
5202,2025-04-21,147.6699981689453,148.9499969482422,146.10000610351562,148.8800048828125,26049100,GOOGL

In [20]:
MSFT_df = pd.read_csv(f"{path_stock}/MSFT_stock.csv")
MSFT_df

,Price,Close,High,Low,Open,Volume,Ticker
0,Ticker,MSFT,MSFT,MSFT,MSFT,MSFT,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,35.79231262207031,36.425635043801314,34.391326658847184,36.04180327305526,53228400,MSFT
3,2000-01-04,34.58323287963867,35.9650268681703,34.46808338059437,34.871106627249425,54119000,MSFT
4,2000-01-05,34.9478874206543,35.734742656374685,33.585284451479964,34.122649002703646,64059600,MSFT
...,...,...,...,...,...,...,...
6360,2025-04-14,387.80999755859375,394.6499938964844,384.2099914550781,393.2200012207031,19251200,MSFT
6361,2025-04-15,385.7300109863281,391.8900146484375,384.1600036621094,388.510009765625,17199900,MSFT
6362,2025-04-16,371.6099853515625,381.6099853515625,368.0,380.6700134277344,21967800,MSFT
6363,2025-04-17,367.7799987792969,374.32000732421875,366.8900146484375,373.75,20943700,MSFT
6364,2025-04-21,359.1199951171875,364.4800109863281,355.6700134277344,362.82000732421875,20807300,MSFT

In [21]:
TSLA_df = pd.read_csv(f"{path_stock}/TSLA_stock.csv")
TSLA_df

,Price,Close,High,Low,Open,Volume,Ticker
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,NaN
1,Date,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-06-29,1.5926669836044312,1.6666669845581055,1.1693329811096191,1.2666670083999634,281494500,TSLA
3,2010-06-30,1.5886670351028442,2.0280001163482666,1.553333044052124,1.7193330526351929,257806500,TSLA
4,2010-07-01,1.4639999866485596,1.7280000448226929,1.3513330221176147,1.6666669845581055,123282000,TSLA
...,...,...,...,...,...,...,...
3723,2025-04-14,252.35000610351562,261.79998779296875,245.92999267578125,258.3599853515625,100135200,TSLA
3724,2025-04-15,254.11000061035156,258.75,247.5399932861328,249.91000366210938,79594300,TSLA
3725,2025-04-16,241.5500030517578,251.97000122070312,233.88999938964844,247.61000061035156,112378700,TSLA
3726,2025-04-17,241.3699951171875,244.33999633789062,237.67999267578125,243.47000122070312,83404800,TSLA
3727,2025-04-21,227.5,232.2100067138672,222.7899932861328,230.25999450683594,97768000,TSLA

In [ ]:
import requests
import pandas as pd


tickers = ["AAPL", "TSLA", "MSFT", "AMZN", "GOOGL"]
FINANCE_api_key = os.getenv("FINANCE_API_KEY")

# Function to fetch data from FMP API and create a DataFrame with time series index
def fetch_fmp_data(ticker, endpoint):
    url = f"https://financialmodelingprep.com/api/v3/{endpoint}/{ticker}?limit=5&apikey={FINANCE_api_key}"
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        if isinstance(data, list) and all(isinstance(item, dict) for item in data):
            df = pd.DataFrame(data)
            df['date'] = pd.to_datetime(df['date']) # Convert 'date' column to datetime
            df.set_index('date', inplace=True) # Set 'date' as index
            return df
        else:
            print(f"Unexpected data format for {ticker}: {data}")
    else:
        print(f"API request failed for {ticker} with status code: {response.status_code}")
        print(f"Error message: {response.text}")
    return None

# Fetch financial statement data
income_statements = {}
balance_sheets = {}
cash_flow_statements = {}

for ticker in tickers:
    income_statements[ticker] = fetch_fmp_data(ticker, "income-statement") # Income Statement
    balance_sheets[ticker] = fetch_fmp_data(ticker, "balance-sheet-statement") # Balance Sheet
    cash_flow_statements[ticker] = fetch_fmp_data(ticker, "cash-flow-statement") # Cash Flow Statement

# Fetch key metrics
key_metrics = {}
for ticker in tickers:
    key_metrics[ticker] = fetch_fmp_data(ticker, "key-metrics") # Key Metrics

# Example: Accessing Apple's income statement
apple_income_statement = income_statements["AAPL"] 

# To see the output, run the code.
# apple_income_statement.head()  # Display the first 5 rows
path_finance = "../data/Finance"
# Save DataFrames to CSV files
for ticker in tickers:
    income_statements[ticker].to_csv(f"{path_finance}/{ticker}_income_statement.csv")
    balance_sheets[ticker].to_csv(f"{path_finance}/{ticker}_balance_sheet.csv")
    cash_flow_statements[ticker].to_csv(f"{path_finance}/{ticker}_cash_flow_statement.csv")
    key_metrics[ticker].to_csv(f"{path_finance}/{ticker}_key_metrics.csv")

API request failed for AAPL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AAPL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AAPL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for TSLA with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for TSLA with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for TSLA with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for MSFT with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for MSFT with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for MSFT with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AMZN with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AMZN with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AMZN with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for GOOGL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for GOOGL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for GOOGL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AAPL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for TSLA with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for MSFT with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for AMZN with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}
API request failed for GOOGL with status code: 401
Error message: {
  "Error Message": "Invalid API KEY. Feel free to create a Free API Key or visit https://site.financialmodelingprep.com/faqs?search=why-is-my-api-key-invalid for more information."
}

AttributeError: 'NoneType' object has no attribute 'to_csv'

In [ ]:
from fredapi import Fred # Import the Fred class from the fredapi library to interact with the FRED API
import pandas as pd # Import the pandas library for data manipulation and analysis
import holidays # Import the holidays library to access holiday information

def get_economic_indicators(api_key, path):
    """
    Fetches economic indicators from FRED, converts to daily frequency,
    filters for data after 2000, adds day of week and holiday columns,
    filters for working days only, and returns a pandas DataFrame.
    
    Args:
        api_key (str): Your FRED API key.
        path (str): The path to save the CSV file.
    
    Returns:
        pandas.DataFrame: A DataFrame containing the economic indicators.
        https://fred.stlouisfed.org
    """
    fred = Fred(api_key=api_key) # Create a Fred object using your API key
    
    # Economic indicators and their FRED series IDs
    # These indicators provide insights into various aspects of the economy:
    indicators = {
        "cpi": "CPIAUCSL",  # Consumer Price Index (CPI): Measures inflation and purchasing power.
        "fed_rate": "FEDFUNDS",  # Federal Funds Rate: Target rate for overnight lending between banks.
        "vix": "VIXCLS",  # VIX Volatility Index: Measures market volatility and risk.
        "oil": "DCOILWTICO",  # Crude Oil Prices: Reflects energy costs and global economic conditions.
        "gdp": "GDP",  # Gross Domestic Product (GDP): Measures overall economic activity and growth.
        "nonfarm_payrolls": "PAYEMS",  # Nonfarm Payrolls: Number of jobs added or lost in the economy.
        "treasury_yield": "DGS10",  # 10-Year Treasury Yield: Reflects long-term interest rates.
        "industrial_production": "INDPRO",  # Industrial Production Index: Measures output of industrial sectors.
        "retail_sales": "RSXFS",  # Retail Sales: Reflects consumer spending and economic health.
        "pmi": "MANEMP",  # Manufacturing PMI: Indicates business conditions in the manufacturing sector.
        "consumer_confidence": "UMCSENT"  # Consumer Confidence Index: Reflects consumer sentiment and spending outlook.
    }

    df = pd.DataFrame()  # Create an empty DataFrame to store the economic indicators

    # Loop through the indicators and fetch data from FRED
    for name, series_id in indicators.items():
        data = fred.get_series(series_id) # Fetch the data for the current indicator using its series ID
        data = data.resample('D').ffill()  # Resample to daily frequency and forward fill missing values
        df[name] = data  # Add the data as a column to the DataFrame using the indicator name as the column name

    # Filter data after 2000-01-01 to focus on more recent economic trends
    df = df[df.index >= pd.to_datetime('2000-01-01')]

    # Add a column for the day of the week to analyze potential day-of-week effects
    df['day_of_week'] = df.index.day_name()

    # Add a column to indicate whether a date is a US holiday
    us_holidays = holidays.US() # Create a US holidays object
    df['is_holiday'] = [date in us_holidays for date in df.index] # Check if each date in the index is a holiday
    
    # Add a column to indicate whether a date is a working day (not a holiday or weekend)
    df['is_working_day'] = ~df['is_holiday'] & (df['day_of_week'] != 'Saturday') & (df['day_of_week'] != 'Sunday')
    
    # Filter the DataFrame to include only working days for analysis purposes
    df = df[df['is_working_day']]  
    

    # Save the DataFrame to a CSV file for future use
    path_fed = "../data/fed"

    df.to_csv(f"{path_fed}/combined_economic_indicators.csv", index=True) 
    
    # Return the DataFrame containing the economic indicators
    return df

# Example usage:
 # Replace with your actual API key

path_fed = "../data/fed"
economic_indicators_df = get_economic_indicators(FRED_api_key, path_fed) # Call the function to get the economic indicators DataFrame

# Print the first few rows of the DataFrame to inspect the data
print(economic_indicators_df.head())